@charset "UTF-8";
/* Original file: modules/board/skins/slow/assets/css/base/extra-form.scss */
.app-board-extra-value {
  width: 100%;
  font-size: 0.875rem;
  margin-top: 1rem;
  background-color: var(--color-gray-200);
  border-radius: var(--border-radius-3);
}
@media (max-width: 768px) {
  .app-board-extra-value {
    font-size: 0.75rem;
  }
}
.app-board-extra-value tr {
  border-bottom: 1px solid var(--color-gray-400);
}
.app-board-extra-value tr:last-child {
  border-bottom: none;
}
.app-board-extra-value tr th, .app-board-extra-value tr td {
  padding: 0.75rem 1rem;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .app-board-extra-value tr th, .app-board-extra-value tr td {
    display: block;
  }
}
.app-board-extra-value tr th {
  min-width: 3.75rem;
  /* padding-left: 0; */
  font-weight: bold;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .app-board-extra-value tr th {
    padding-top: 1rem;
    padding-bottom: 0;
  }
}
.app-board-extra-value tr td {
  width: 100%;
}
@media (min-width: 768px) {
  .app-board-extra-value tr td {
    padding-left: 0;
  }
}
.app-board-extra-value tr:first-child th {
  border-top-left-radius: var(--border-radius-3);
}
.app-board-extra-value tr:first-child td {
  border-top-right-radius: var(--border-radius-3);
}
.app-board-extra-value tr:last-child th {
  border-bottom-left-radius: var(--border-radius-3);
}
.app-board-extra-value tr:last-child td {
  border-bottom-right-radius: var(--border-radius-3);
}
.app-extra-form {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border-collapse: collapse;
  border-radius: var(--border-radius-3);
  background-color: var(--color-gray-200);
  overflow: hidden;
}
.app-extra-form tr {
  border-bottom: 1px solid var(--color-gray-400);
}
.app-extra-form tr:last-child {
  border-bottom: none;
}
.app-extra-form tr th, .app-extra-form tr td {
  text-align: left;
  padding: 0.75rem 1rem;
}
.app-extra-form tr th {
  font-weight: bold;
}
.app-extra-form input[type="checkbox"] + label {
  margin-left: 0.25rem;
}
.app-extra-form input[type="text"] {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  margin-bottom: 0.25rem;
  color: var(--color-black);
  font-size: 0.875rem;
  border-radius: var(--border-radius-2);
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-background);
  -webkit---prefixearance: none;
}
.app-extra-form input[type="text"]:placeholder {
  color: var(--color-gray-600);
}
.app-extra-form input[type="text"]:focus {
  outline: none !important;
  border-color: var(--color-primary);
}
.app-extra-form td > p {
  margin-top: 0.25rem;
  color: var(--color-gray-700);
  font-size: 0.75rem;
}

