@charset "UTF-8";
.app-icon-button {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-primary);
  font-size: 1.25rem;
  border-radius: 100%;
  transition: background-color 250ms;
}
.app-icon-button svg {
  width: 1em;
  height: 1em;
}
.app-icon-button:hover {
  background-color: var(--color-gray-200);
}
.app-icon-button-black {
  color: var(--color-black);
}
.app-icon-button-gray {
  color: var(--color-gray-700);
}
.app-icon-button-large {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}

