@charset "UTF-8";
/* Original file: layouts/slow/assets/css/base/card.scss */
.app-card {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: var(--card-shadow);
}
.app-card-title {
  border-bottom: 1px solid #e9ecef;
}
.app-card-header, .app-card__header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e9ecef;
}
.app-card-body, .app-card__body {
  padding: 1rem;
}

